version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: deployment/backend/Dockerfile
    image: cbf_backend:latest
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads
      - ./results:/app/results
      - ./models:/app/models
      - ./data:/app/data
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    image: cbf_frontend:latest
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
